<section class="forum-container">
    <h1 class="titulo">Foro</h1>
    <a routerLink="/registro-topico" class="btn btn-primary" *ngIf="!isLoggedIn">
      <i class="fa fa-edit"></i> Registrar Tópico
    </a>
    <div class="topics-grid">
      <article *ngFor="let topic of topics" 
              class="topic-card hover-scale">
        <div class="topic-image">
          <img [src]="topic.topicoImagen" [alt]="topic.topicoTitulo">
        </div>
        <div class="topic-content">
          <div class="topic-category">{{categoria}}</div>
          <h3 class="topic-title">{{topic.topicoTitulo}}</h3>
          <p class="topic-summary">{{topic.topicoResumen}}</p>
          <div class="topic-meta">
            <div class="author">
              <i class="fas fa-user"></i>
              {{topic.topicoAutor}}
            </div>
            <div class="date">
              <i class="fas fa-calendar"></i>
              {{topic.topicoFecha}}
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
