<button class="btn btn-glass login-btn" (click)="abrirModal()">
    <i class="fas fa-user"></i>
</button>
  
<div id="login-modal" class="modal" [ngClass]="{'mostrar': mostrarModal}" (click)="cerrarModalExterno($event)">
    <div class="modal-contenido" (click)="$event.stopPropagation()">
      <span (click)="cerrarModal()" class="cerrar">&times;</span>
  
      <!-- Contenido de inicio de sesión -->
      <div *ngIf="!loginService.isLoggedIn(); else loggedInContent">
        <h2>Iniciar sesión</h2>
        <form class="formulario-login" [formGroup]="loginUsuario" (submit)="submitLogin()">
          <div class="form-group">
            <label for="nombre-login">Nombre de Usuario:</label>
            <input type="text" id="nombre-login" name="nombre" formControlName="usuarioId">
          </div>
          <div class="form-group">
            <label for="password-login">Contraseña:</label>
            <input type="password" id="password-login" name="password" formControlName="usuarioContrasena">
          </div>
          <button type="submit" class="boton">Ingresar</button>
          <a routerLink="registro">No tienes cuenta? Regístrate</a>
        </form>
      </div>
  
      <!-- Contenido después de iniciar sesión -->
      <ng-template #loggedInContent>
        <h2>Bienvenido, {{ loginService.getCurrentUser()?.user }}</h2>
        <button class="boton" (click)="router.navigate([''])">Información de Usuario</button>
        <button class="boton cerrar-sesion" (click)="cerrarSesion()">Cerrar Sesión</button>
      </ng-template>
    </div>
  </div>
