<div class="navbar-actions" *ngIf="!loginService.isLoggedIn(); else notLoggedIn">
  <!-- Botón INICIAR SESIÓN con Icono -->
  <button class="button-navbar" (click)="abrirModal()">
    <i class="fas fa-sign-in-alt"></i> <!-- Icono de Ingreso -->
    <span>Ingresar</span> <!-- Texto (recomendado acortarlo a "Ingresar") -->
  </button>

  <button routerLink="/registro" class="button-register">
    Registrate
  </button>
</div>

<ng-template #notLoggedIn>
  <!-- Botón USUARIO LOGUEADO con Icono -->
  <button class="button-register" (click)="abrirModal()">
    <i class="fas fa-user-circle"> </i>  <!-- Icono de Usuario -->
    {{ loginService.getCurrentUser()?.user }}
  </button>
</ng-template>

<div id="login-modal" class="modal" [ngClass]="{'mostrar': mostrarModal}" (click)="cerrarModalExterno($event)">
    <div class="modal-contenido" (click)="$event.stopPropagation()">
      <span (click)="cerrarModal()" class="cerrar">&times;</span>
  
      <div *ngIf="!loginService.isLoggedIn(); else loggedInContent">
        <h2>Iniciar sesión</h2>
        <form class="formulario-login" [formGroup]="loginUsuario" (submit)="submitLogin()">
          <div class="form-group">
            <label for="nombre-login">Nombre de Usuario:</label>
            <input type="text" id="nombre-login" name="nombre" formControlName="usuarioId">
          </div>
          <div class="form-group">
            <label for="password-login">Contraseña:</label>
            <input type="password" id="password-login" name="password" formControlName="usuarioContrasena">
          </div>
          <button type="submit" class="boton">Ingresar</button>
          <a routerLink="registro">No tienes cuenta? Regístrate</a>
        </form>
      </div>
  
      <ng-template #loggedInContent>
        <h2>Bienvenido, {{ loginService.getCurrentUser()?.user }}</h2>
        <button class="boton" routerLink="/usuario">Información de Usuario</button>
        <button class="boton cerrar-sesion" (click)="cerrarSesion()">Cerrar Sesión</button>
      </ng-template>
    </div>
  </div>
